<ul class="articles_list">
<% for article in @articles %>
  <li class="article" id="article_<%= article.id %>">
    <%= link_to article.name, article, :class => "name" %>
    <%= image_tag article.avatar.url(:small), :class => "thumbnail" %>
    <%= link_to 'Edit', edit_article_path(article) %></td>
  </li>
<% end %>
</ul>
