/*  KEEP OUR CSS CLEAN
    Some guidelines to follow:
    1. Break code down into sections.
    2. Keep your rules alphabetically sorted.
    3. Only put one selector per line for a block of rules that apply to multiple selectors.
    4. Indent your rules, only one rule per line.
    5. Indent proprietary properties with two spaces. Keep these properties directly below the proposed property.
        
        example:
        
        element#id,
        element.class {
            rule1: value;
              -webkit-rule2: value;
              -moz-rule2: value;
            rule2: value;
            top: value;
        }
*/
/* =forms
   ------------------------------------------------------ */
   form > ol,
   form > ol > li {
      list-style: none;
   }
   
   form > ol > li {
      background: url(../images/divider_primary_content.png) no-repeat top center;
      margin: 6px 0;
      padding: 6px 0;
      position: relative;
   }
   
   form input[type="text"],
   form textarea,
   form select,
   form input[type="submit"] {
      border: 2px solid #ccc;
      border-radius:10px;
        -o-border-radius:10px;
        -icab-border-radius:10px;
        -khtml-border-radius:10px;
        -moz-border-radius:10px;
        -webkit-border-radius:10px;
        -moz-border-radius:10px;
      font-size: 1.1em;
      padding: 3px 6px;
      line-height: 1.5em;
   }
   
   .field_with_errors form input[type="text"],
   .field_with_errors textarea,
   .field_with_errors label  {
      border-color: #c66;
   }
   
   form input[type="submit"] {
      background: #00a196;
      border-color: rgba(255,255,255,0.5);
      font-weight: bold;
      color: #000;
      text-shadow: -1px -1px 1px rgba(255,255,255,0.25);
      padding: 8px;
   }
   
   textarea {
      height: 400px;
      width: 540px;
   }
   
   form > ol label {
      color: #333;
      display: block;
      font-size: 1.25em;
      font-weight: bold;
      line-height: 1.5em;
      padding: 2px 6px;
   }
   
   .errorExplanation {
      color: #900;
      margin-left: 10px;
   }
   
   .errorExplanation ul {
      color: #900;
      margin: 10px 30px;
   }
   
   form .thumbnail {
      border: 5px solid #000;
      box-shadow: 0 0 10px rgba(0,0,0,0.75);
        -o-box-shadow: 0 0 10px rgba(0,0,0,0.75);
        -icab-box-shadow: 0 0 10px rgba(0,0,0,0.75);
        -khtml-box-shadow: 0 0 10px rgba(0,0,0,0.75);
        -moz-box-shadow: 0 0 10px rgba(0,0,0,0.75);
        -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.75);
      transform: scale(0.5);
        -moz-transform: scale(0.5);
        -webkit-transform: scale(0.5);
      position: absolute;
      top: -60px;
      right: -230px;
      z-index: 2;
   }
   
   #preview {
      display: none;
   }