<section id="district_nav">
      <nav class="district_nav">
        <ol>
          <li><a href="#">Charlottenburg <span class="count">3</span></a></li>
          <li><a href="#">Friedrichshain</a></li>
          <li><a href="#">Hellersdorf</a></li>
          <li><a href="#">Lichtenberg <span class="count">1</span></a></li>
          <li><a href="#">Köpenick</a></li>
          <li><a href="#">Kreuzberg <span class="count">9</span></a></li>
          <li><a href="#">Marzahn</a></li>
          <li><a href="#">Mitte</a></li>
          <li><a href="#">Neukölln</a></li>
          <li><a href="#">Pankow</a></li>
          <li><a href="#">Prenzlauer Berg</a></li>
          <li><a href="#">Reinickendorf</a></li>
          <li><a href="#">Schöneberg</a></li>
          <li><a href="#">Spandau</a></li>
          <li><a href="#">Steglitz</a></li>
          <li><a href="#">Tempelhof <span class="count">12</span></a></li>
          <li><a href="#">Tiergarten <span class="count">4</span></a></li>
          <li><a href="#">Treptow</a></li>
          <li><a href="#">Wedding</a></li>
          <li><a href="#">Wilmersdorf</a></li>
          <li><a href="#">Zehlendorf</a></li>
        </ol>
      </nav>
    </section>