<section id="district_nav">
      <nav class="district_nav">
        <ol>
          <% for district in @districts %>
          <li><a href="#"><%= district.name %> <% if district.articles_count > 0 %><span class="count"><%= district.articles_count %></span><% end %></a></li>
          <% end %>
        </ol>
      </nav>
    </section>