<div id="flash_notice" class="flash_notice">
  <a href="#" class="close" title="Close this message."><img src="/images/icon_close.png" width="34" height="34" alt="Icon Close"></a>
  <%= raw flash[:notice] %>
  <span class="open_content"></span>
  <span class="close_content"></span>
</div>