<%= render :partial => 'article' %>
<%= render :partial => 'article' %>
<a href="#"><img src="/images/button_read_more.png" width="548" height="63" alt="Read More"></a>
<a href="#"><img src="/images/button_share.png" width="548" height="63" alt="Share a Story"></a>