<h2>Sign in is simple!</h2>
<p>You can login with twitter or facebook. Sorry no other methods are supported at this time.</p>
<%= link_to image_tag("sign-in-with-twitter-l.png"), "/auth/twitter", :class => "twitter" %><br/>
<%= link_to image_tag("facebook-login-button.png"), "/auth/facebook" %>
